body {
	background-color: rgb(248, 248, 248);
	font-family: Times, Calibri, sans-serif;
}

div.nav-horizontal-bar {
	background-color: rgb(67, 67, 67);
	border: none;
	margin: 0;
	padding: 0;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	display: inline-block;
	z-index: 1;
	/*clear: both;*/
}

div.nav-horizontal-bar button.home-button {
	background-color: rgb(67, 67, 67);
	border: none;
	color: white;
	margin: 0;
	padding: 13px 26px;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	overflow: hidden;
}

div.contact-content {
	margin: 0;
	padding: 15px 25% 25px 25%;
	/*background-color: rgb(220, 220, 220);*/
	position: relative;
	/*clear: both;*/
}

div.message-me {
	margin: 0;
	padding: 0;
	border: 1px solid #4CAF50;
	border-radius: 6px;
}

div.message-item {
	margin-top: 12px;
	margin-bottom: 0;
	width: 100%;
	display: block;
	clear: both;
}

div.message-me-prompt {
	margin-top: 12px;
	margin-bottom: 24px;
	padding: 0 12px;
	color: green;
}

span.required-star {
	color: red;
	font-family: Arial;
}

div.message-item-name {
	padding: 3px 12px 4px 12px;
	margin: 0;
	width: 150px;
	float: left;
}

p.message-body-length {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	font-size: 0.72em;
	color: green;
	display: none;
}

div.message-item-input {
	margin: 0 0 0 150px;
	padding: 0 12px 0 0;
}

label {
	display: inline-block;
	font-size: 0.9em;
	color: green;
}

input[type=text], textarea {
	margin: 0;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

textarea {
	height: 170px;
}

button.form-submit {
	background-color: #4CAF50;
	color: white;
	padding: 9px 20px;
	margin: 0;
	border: none;
	border-radius: 0 0 6px 6px;
	cursor: pointer;
	width: 100%;
	text-align: center;
	font-size: 0.98em;
	font-weight: bold;
}

div.recaptcha {
	margin-top: 12px;
	margin-left: 150px;
}

div.call-me, div.email-me {
	margin-top: 20px;
	padding: 12px;
	border: 1px solid rgb(168, 211, 169);
	border-radius: 6px;
}

@media (max-width: 520px ) {
	div.contact-content {
		padding-left: 0;
		padding-right: 0;
	}

	div.message-me {
		border: none;
	}

	div.call-me {
		border: none;
		border-top: 1px solid rgb(168, 211, 169);
		border-radius: 0;
	}

	div.email-me {
		margin-top: 0;
		border: none;
		border-top: 1px solid rgb(168, 211, 169);
		border-bottom: 1px solid rgb(168, 211, 169);
		border-radius: 0;
	}

	button.form-submit {
		border-radius: 0;
	}
}

@media (max-width: 485px) {
	div.message-item-name {
		width: 130px;
	}

	div.message-item-input {
		margin-left: 130px;
	}

	div.recaptcha {
		margin-left: 130px;
	}
}

@media (max-width: 460px) {
	div.message-item-name {
		width: 100%;
		padding-left: 4px;
	}

	div.message-item-input {
		margin-left: 0;
		padding-left: 4px;
		padding-right: 4px;
	}

	div.recaptcha {
		margin-left: 4px;
	}
}
