div.nav-horizontal-bar {
	width: 258px;
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 16px 0 0 16px;
	border: 1px solid rgb(220, 220, 220);
	float: left;
	clear: left;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

div.nav-horizontal-bar button.nav-button {
	background-color: rgb(255, 255, 255);
	color: rgb(37, 37, 37);
	width: 100%;
	border: none;
	border-bottom: 1px solid rgb(220, 220, 220);
	margin: 0;
	padding: 12px 20px;
	text-align: left;
	text-decoration: none;
	font-family: 'Roboto', 'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	cursor: pointer;
	overflow: hidden;
}

div.nav-horizontal-bar button.nav-button:hover {
	background-color: rgb(48, 132, 227);
	color: white;
}

div.nav-horizontal-bar button.nav-button:last-child {
	border-bottom: none;
}

div.nav-horizontal-bar div.nav-dropdown {
	margin: 0;
	padding: 0;
	display: none;
}

div.nav-horizontal-bar div.nav-dropdown button.menu-button {
	background-color: rgb(255, 255, 255);
	border: none;
	color: rgb(37, 37, 37);
	margin: 0;
	padding: 11px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	text-shadow: 3px 0 black, -3px 0 black;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
}

div.nav-horizontal-bar div.nav-dropdown button.menu-button:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(32, 112, 167);
	text-shadow: 3px 0 rgb(32, 112, 167), -3px 0 rgb(32, 112, 167);
}

div.nav-horizontal-bar div.nav-dropdown div.nav-dropdown-content {
	margin: 0;
	padding: 0;
	position: absolute;
	min-width: 215px;
	box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.3);
	z-index: 1;
	display: none;
}

div.nav-horizontal-bar div.nav-dropdown div.nav-dropdown-content button.dropdown-button {
	background-color: rgb(255, 255, 255);
	border: none;
	border-top: 1px solid rgb(220, 220, 220);
	color: rgb(37, 37, 37);
	margin: 0;
	padding: 12px 20px;
	text-align: left;
	text-decoration: none;
	display: block;
	font-size: 0.95em;
	font-weight: bold;
	font-family: 'Roboto', 'Open Sans', Calibri, sans-serif;
	cursor: pointer;
	overflow: hidden;
	width: 215px;
}

div.nav-horizontal-bar div.nav-dropdown div.nav-dropdown-content button.dropdown-button:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(32, 112, 167);
}

div.nav-horizontal-bar div.nav-dropdown:hover div.nav-dropdown-content {
	display: block;
}

div.styles {
	width: 258px;
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 16px 0 0 16px;
	border: 1px solid rgb(220, 220, 220);
	float: left;
	clear: left;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

h2 {
	border-bottom: 1px solid rgb(221, 221, 221);
	padding-bottom: 6px;
	font-size: 1.28em;
	font-weight: 400;
	margin-bottom: 12px;
}

h2.styles-header {
	margin: 0;
	padding: 12px 20px;
	border-bottom: 1px solid rgb(221, 221, 221);
}

h2.styles-header:before {
	font-family: "Material Icons";
	content: "\E1BD";
	font-size: 24px;
	margin: 0 8px 0 0;
	line-height: 26px;
	vertical-align: top;
	color: rgb(0, 150, 136);
}

button.styles-button {
	background-color: rgb(255, 255, 255);
	color: rgb(37, 37, 37);
	border: none;
	border-bottom: 1px solid rgb(221, 221, 221);
	margin: 0;
	padding: 12px 20px;
	text-align: left;
	text-decoration: none;
	font-family: 'Roboto', 'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 0.88em;
	cursor: pointer;
	width: 100%;
}

button.styles-button:focus {
	outline: 0;
}

button.styles-button:hover {
	color: white;
	background-color: rgb(48, 132, 227);
}

button.styles-button:last-child {
	border-bottom: none;
}

div.resume-content {
	margin: 0 0 0 290px;
	padding: 16px 0 0 0;
}

div.skl-expr-edu-cert {
	margin: 0 16px 16px 0;
	border: 1px solid rgb(220, 220, 220);
	padding-left: 16px;
	padding-right: 12px;
	background-color: white;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	position: absolute;
}

div.skills {
	margin: 0;
	padding: 0;
}

h2.skills-header {
	margin-bottom: 10px;
}

h2.skills-header:before {
	font-family: "Material Icons";
	content: "\E8D0";
	font-size: 24px;
	margin: 0 8px 0 0;
	line-height: 26px;
	vertical-align: top;
	color: rgb(0, 150, 136);
}

ul.skills-detail {
	margin-left: 13px;
	margin-top: 4px;
}

div.skills-icons {
	margin: 8px 0;
	padding: 0 0 0 26px;
}

img.skills-icon {
	margin-left: 8px;
	height: 24px;
}

img.html5-icon {
	width: 17px;
}

img.css3-icon {
	width: 17px;
}

img.js-icon {
	width: 24px;
}

img.php-icon {
	width: 45px;
}

img.mysql-icon {
	width: 47px;
}

img.git-icon {
	width: 24px;
}

img.rest-icon {
	width: 51px;
}

img.arduino-icon {
	width: 35px;
}

h2.relevant-experience-header:before {
	font-family: "Material Icons";
	content: "\EB3F";
	font-size: 24px;
	margin: 0 8px 0 0;
	line-height: 26px;
	vertical-align: top;
	color: rgb(0, 150, 136);
}

h2.volunteer-experience-header:before {
	font-family: "Material Icons";
	content: "\E174";
	font-size: 24px;
	margin: 0 8px 0 0;
	line-height: 26px;
	vertical-align: top;
	color: rgb(0, 150, 136);
}

div.relevant-experience {
	margin: 0;
	padding: 0;
}

div li {
	text-align: justify;
	margin-bottom: 5px;
}

p.p-date {
	margin: 0;
	padding: 0 0 8px 32px;
	font-size: 16px;
}

p.p-date:before {
	font-family: "Material Icons";
	content: "\E916";
	font-size: 18px;
	margin: 0 8px 0 0;
	line-height: 18px;
	vertical-align: top;
	color: rgb(0, 150, 136);
}

div.job-content {
	margin: 0;
	padding-left: 33px;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

img.m-app-icon {
	width: 32px;
	height: 32px;
	border-radius: 6px;
	float: left;
	margin-right: 20px;
	border: 1px solid rgb(241, 241, 241);
}

p.job-detail {
	text-align: justify;
}

h2.education-header:before {
	font-family: "Material Icons";
	content: "\E80C";
	font-size: 24px;
	margin: 0 8px 0 0;
	line-height: 26px;
	vertical-align: top;
	color: rgb(0, 150, 136);
}

div.edu-content {
	margin: 0;
	padding-left: 33px;
}

div.certification {
	margin: 0;
	padding: 0;
}

h2.certification-header:before {
	font-family: "Material Icons";
	content: "\E617";
	font-size: 24px;
	margin: 0 8px 0 0;
	line-height: 26px;
	vertical-align: top;
	color: rgb(0, 150, 136);
}

div.mcp {
	overflow: auto;
}

p.mcp-cer-date {
	margin: 0;
	padding: 0 0 0 33px;
	width: 130px;
	float: left;
	line-height: 72px;
}

p.comptia-cer-date {
	margin: 0;
	padding: 0 0 0 33px;
	width: 130px;
	float: left;
	line-height: 120px;
}

div.mcp-desc {
	margin: 0;
	padding: 0px 0px 0px 50px;
	overflow: auto;
	line-height: 72px;
}

img.mcp-img {
	width: 171px;
	height: 72px;
	float: right;
}

div.comptia-n {
	overflow: auto;
}

div.comptia-desc {
	margin: 0;
	padding: 0px 0px 0px 50px;
	overflow: auto;
	line-height: 120px;
}

img.networkplus-img {
	width: 125px;
	height: 125px;
	float: right;
}

div.mcp-desc span.mcp-desc-subtext, div.comptia-desc span.comptia-desc-subtext {
	font-size: 1em;
	font-weight: normal;
}

abbr[title] {
	border-bottom: none;
	cursor: inherit;
	text-decoration: none;
}

button.floating-contact-button {
	position: fixed;
	left: 16px;
	bottom: 16px;
	background-color: rgb(255, 255, 255);
	color: rgb(37, 37, 37);
	border: none;
	padding: 12px 20px 12px 20px;
	text-align: left;
	text-decoration: none;
	font-family: 'Roboto', 'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 0.88em;
	cursor: pointer;
	width: 258px;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.18), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}
	
button.floating-contact-button:hover {
	color: white;
	background-color: rgb(48, 132, 227);
}

div.modal-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

div.modal {
	display: none;
	position: fixed;
	z-index: 3;
	padding: 70px 18px 25px 18px;
	left: 16px;
	top: 16px;
	right: 16px;
	bottom: 16px;
	overflow: auto;
	background-color: white;
	color: rgb(37, 37, 37);
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

span.close {
	position: fixed;
	padding: 0;
	top: 16px;
	right: 28px;
	text-align: center;
	color: rgb(37, 37, 37);
	font-size: 40px;
	font-weight: 100;
	font-family: Arial, sans-serif;
	transition: 0.3s;
}

span.close:hover, span.close:focus {
	color: rgb(48, 132, 227);
	text-decoration: none;
	cursor: pointer;
}

h2.modal-header {
	border-bottom: 1px solid rgb(220, 220, 220);
	padding-bottom: 6px;
	color: rgb(37, 37, 37);
}

@media (max-width: 950px) {
	ul.skills-detail {
		margin-left: 0;
	}

	div.skills-icons {
		padding-left: 13px;
	}

	p.p-date {
		padding-left: 19px;
	}

	div.job-content {
		padding-left: 20px;
	}

	div.edu-content {
		padding-left: 20px;
	}

	p.mcp-cer-date {
		width: 100px;
	}

	p.comptia-cer-date {
		width: 100px;
	}

	div.mcp-desc span.mcp-desc-subtext {
		display: none;
	}

	div.comptia-desc span.comptia-desc-subtext {
		display: none;
	}

	div.mcp-desc span.modal-mcp-desc-subtext {
		display: inline;
	}

	div.comptia-desc span.modal-comptia-desc-subtext {
		display: inline;
	}
}

@media (max-width: 752px) {
	div.nav-horizontal-bar {
		width: auto;
		padding: 0;
		margin: 10px 10px 0 10px;
		float: none;
		clear: none;
	}

	div.nav-horizontal-bar button.contact-button:hover {
		background-color: rgb(255, 255, 255);
		color: rgb(32, 112, 167);
	}

	div.nav-horizontal-bar button.lw-button {
		display: none;
	}

	div.nav-horizontal-bar div.nav-dropdown {
		display: inline-block;
	}

	div.nav-horizontal-bar button.nav-button:last-child {
		width: auto;
		float: right;
		margin: 0;
	}

	div.styles {
		width: auto;
		margin: 10px 10px 0 10px;
		overflow: hidden;
		padding-left: 10px;
		padding-right: 10px;
		float: none;
		clear: none;
	}

	h2.styles-header {
		margin-left: 0;
		padding-left: 0;
		border-bottom: 1px solid rgb(221, 221, 221);
	}

	button.styles-button {
		width: 33.33%;
		margin: 0 0 16px 0px;
		text-align: center;
		padding: 12px 20px;
		float: left;
	}

	button.styles-button:last-child {
		border-bottom: 1px solid rgb(221, 221, 221);
	}

	div.resume-content {
		margin: 0 0 0 0;
	}

	div.skl-expr-edu-cert {
		margin: 10px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: white;
		position: static;
	}

	div.mcp-desc span.mcp-desc-subtext {
		display: inline;
	}

	div.comptia-desc span.comptia-desc-subtext {
		display: inline;
	}

	div.mcp-desc span.modal-mcp-desc-subtext {
		display: none;
	}

	div.comptia-desc span.modal-comptia-desc-subtext {
		display: none;
	}

	div.floating-contact-button-wrapper {
		width: 100%;
		padding: 10px;
	}

	button.floating-contact-button {
		position: static;
		width: 100%;
		text-align: center;
		padding: 12px 20px;
	}

	div.modal {
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
	}

	span.close {
		right: 22px;
	}
}

@media (max-width: 560px) {
	div.mcp-desc span.mcp-desc-text {
		display: none;
	}

	div.comptia-desc span.comptia-desc-text {
		display: none;
	}
}
