div.nav-horizontal-bar {
	background-color: rgb(67, 67, 67);
	border: none;
	margin: 0;
	padding: 0;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	display: inline-block;
	z-index: 1;
}

div.nav-horizontal-bar button.nav-button {
	background-color: rgb(67, 67, 67);
	border: none;
	color: white;
	margin: 0;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	overflow: hidden;
}

div.nav-horizontal-bar button.nav-button:last-child {
	float: right;
	margin: 0;
}

div.nav-horizontal-bar button.nav-button:hover {
	background-color: rgb(7, 7, 7);
}

div.nav-horizontal-bar div.nav-dropdown {
	margin: 0;
	padding: 0;
	display: none;
}

div.nav-horizontal-bar div.nav-dropdown button.menu-button {
	background-color: rgb(67, 67, 67);
	border: none;
	color: white;
	margin: 0;
	padding: 13px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	text-shadow: 3px 0 white, -3px 0 white;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
}

div.nav-horizontal-bar div.nav-dropdown button.menu-button:hover {
	background-color: rgb(7, 7, 7);
}

div.nav-horizontal-bar div.nav-dropdown div.nav-dropdown-content {
	margin: 0;
	padding: 0;
	border-top: 1px solid rgb(87, 87, 87);
	position: absolute;
	min-width: 215px;
	box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.3);
	z-index: 1;
	display: none;
}

div.nav-horizontal-bar div.nav-dropdown div.nav-dropdown-content button.dropdown-button {
	background-color: rgb(67, 67, 67);
	border: none;
	color: white;
	margin: 0;
	padding: 12px 20px;
	text-align: left;
	text-decoration: none;
	display: block;
	font-size: 0.95em;
	font-weight: bold;
	font-family: 'Open Sans', Calibri, sans-serif;
	cursor: pointer;
	overflow: hidden;
	width: 215px;
}

div.nav-horizontal-bar div.nav-dropdown div.nav-dropdown-content button.dropdown-button:hover {
	background-color: rgb(7, 7, 7);
}

div.nav-horizontal-bar div.nav-dropdown:hover div.nav-dropdown-content {
	display: block;
}

div.resume-content {
	margin: 0;
	padding: 0;
	background-color: rgb(220, 220, 220);
	/*position: relative;
	clear: both;*/
}

div.styles {
	margin: 0;
	padding: 1px 10px 10px 0;
	width: 258px;
	float: left;
}

h2 {
	border-bottom: 1px solid rgb(221, 221, 221);
	padding-bottom: 6px;
	font-size: 1.35em;
	/*font-weight: bold;*/
}

h2.styles-header {
	margin-left: 16px;
	border-bottom: 1px solid rgb(198, 198, 198);
}

button.styles-button {
	background-color: rgb(147, 147, 121);
	border: none;
	color: white;
	margin: 0 0 16px 16px;
	padding: 12px 20px 12px 35px;
	text-align: left;
	text-decoration: none;
	font-family: 'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 0.88em;
	cursor: pointer;
	width: 226px;
}

button.styles-button:focus {
	outline: 0;
}

button.styles-button:hover {
	background-color: rgb(107, 107, 81);
}

div.skl-expr-edu-cert {
	margin: 0 0 0 258px;
	padding-left: 16px;
	padding-right: 8px;
	background-color: white;
	border: 1px solid white;
}

div.skills {
	margin: 0;
	padding: 0;
}

h2.skills-header {
	margin-bottom: 10px;
}

ul.skills-detail {
	margin-left: 24px;
	margin-top: 4px;
}

div.skills-icons {
    margin: 8px 0;
    padding: 0 0 0 32px;
}

img.skills-icon {
    margin-left: 8px;
    height: 24px;
}

img.html5-icon {
    width: 17px;
}

img.css3-icon {
    width: 17px;
}

img.js-icon {
    width: 24px;
}

img.php-icon {
    width: 45px;
}

img.mysql-icon {
    width: 47px;
}

img.git-icon {
    width: 24px;
}

img.rest-icon {
    width: 51px;
}

img.arduino-icon {
    width: 35px;
}

div li {
	text-align: justify;
}

p.p-date {
	margin: 0;
	padding: 0;
	width: 130px;
	float: left;
	font-weight: bold;
}

div.job-content {
	margin: 0px 0px 0px 130px;
	padding-left: 50px;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

img.m-app-icon {
	width: 32px;
	height: 32px;
	border-radius: 6px;
	float: left;
	margin-right: 20px;
	border: 1px solid rgb(241, 241, 241);
}

p.job-detail {
	text-align: justify;
}

div.edu-content {
	margin: 0px 0px 0px 130px;
	padding-left: 50px;
}

div.certification {
	margin: 0;
	padding: 0;
}

div.mcp {
	overflow: auto;
}

p.mcp-cer-date {
	margin: 0;
	padding: 0;
	width: 130px;
	float: left;
	line-height: 72px;
	font-weight: bold;
}

p.comptia-cer-date {
	margin: 0;
	padding: 0;
	width: 130px;
	float: left;
	line-height: 120px;
	font-weight: bold;
}

div.mcp-desc {
	margin: 0;
	padding: 0px 0px 0px 50px;
	overflow: auto;
	line-height: 72px;
}

img.mcp-img {
	width: 171px;
	height: 72px;
	float: right;
}

div.comptia-n {
	overflow: auto;
}

div.comptia-desc {
	margin: 0;
	padding: 0px 0px 0px 50px;
	overflow: auto;
	line-height: 120px;
}

img.networkplus-img {
	width: 125px;
	height: 125px;
	float: right;
}

div.mcp-desc span.mcp-desc-subtext, div.comptia-desc span.comptia-desc-subtext {
	font-size: 1em;
	font-weight: normal;
}

abbr[title] {
	border-bottom: none;
	cursor: inherit;
	text-decoration: none;
}

button.floating-contact-button {
	position: fixed;
	left: 16px;
	bottom: 16px;
	background-color: rgb(147, 147, 121);
	border: none;
	color: white;
	padding: 12px 20px 12px 35px;
	text-align: left;
	text-decoration: none;
	font-family: 'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 0.88em;
	cursor: pointer;
	width: 226px;
}

button.floating-contact-button:hover {
	background-color: rgb(107, 107, 81);
}

div.modal {
	display: none;
	position: fixed;
	z-index: 3;
	padding: 70px 36px 25px 18px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.92);
	color: rgb(241, 241, 241);
}

span.close {
	position: fixed;
	padding: 15px 20px 20px 20px;
	top: 0;
	right: 0;
	color: rgb(241, 241, 241);
	font-size: 40px;
	font-weight: 100;
	font-family: Arial, sans-serif;
	transition: 0.3s;
}

span.close:hover, span.close:focus {
	color: rgb(187, 187, 187);
	text-decoration: none;
	cursor: pointer;
}

h2.modal-header {
	border-bottom: 1px solid rgb(151, 151, 151);
	padding-bottom: 6px;
	color: rgb(241, 241, 241);
}

@media (max-width: 950px) {
	div.styles {
		width: 218px;
	}

	button.styles-button {
		width: 186px;
	}

	div.skl-expr-edu-cert {
		margin: 0px 0px 0px 218px;
	}

	div.job-content {
		padding-left: 20px;
	}

	div.edu-content {
		padding-left: 20px;
	}

	p.mcp-cer-date {
		width: 100px;
	}

	p.comptia-cer-date {
		width: 100px;
	}

	div.mcp-desc span.mcp-desc-subtext {
		display: none;
	}

	div.comptia-desc span.comptia-desc-subtext {
		display: none;
	}

	div.mcp-desc span.modal-mcp-desc-subtext {
		display: inline;
	}

	div.comptia-desc span.modal-comptia-desc-subtext {
		display: inline;
	}

	button.floating-contact-button {
		width: 186px;
	}
}

@media (max-width: 752px) {
	div.nav-horizontal-bar button.lw-button {
		display: none;
	}

	div.nav-horizontal-bar div.nav-dropdown {
		display: inline-block;
	}

	div.styles {
		width: 100%;
		overflow: hidden;
		padding-left: 10px;
		padding-right: 10px;
	}

	h2.styles-header {
		margin-left: 0px;
		border-bottom: 1px solid rgb(221, 221, 221);
	}

	button.styles-button {
		width: 33.33%;
		margin: 0 0 16px 0px;
		text-align: center;
		padding: 12px 20px;
		float: left;
		border-left: 1px solid rgb(198, 198, 198);
	}

	button.styles-button1 {
		border: none;
	}

	div.skl-expr-edu-cert {
		margin: 0px 0px 0px 0px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: white;
	}

	div.mcp-desc span.mcp-desc-subtext {
		display: inline;
	}

	div.comptia-desc span.comptia-desc-subtext {
		display: inline;
	}

	div.mcp-desc span.modal-mcp-desc-subtext {
		display: none;
	}

	div.comptia-desc span.modal-comptia-desc-subtext {
		display: none;
	}

	button.floating-contact-button {
		position: static;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 12px 20px;
	}
}

@media (max-width: 560px) {
	p.p-date {
		float: none;
		width: 100%;
	}

	div.job-content {
		margin: 0;
		padding: 0;
	}

	div.edu-content {
		margin: 0;
		padding: 0;
	}

	div.mcp-desc span.mcp-desc-subtext {
		display: none;
	}

	div.comptia-desc span.comptia-desc-subtext {
		display: none;
	}
}

@media (max-width: 410px) {
	div.mcp-desc span.mcp-desc-text {
		display: none;
	}

	div.comptia-desc span.comptia-desc-text {
		display: none;
	}
}
