div.nav-horizontal-bar {
	background-color: rgb(67, 67, 67);
	border: none;
	margin: 0;
	padding: 0;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	display: inline-block;
	z-index: 1;
}

div.nav-horizontal-bar button.nav-button {
	background-color: rgb(67, 67, 67);
	border: none;
	color: white;
	margin: 0;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	overflow: hidden;
}

div.nav-horizontal-bar button.nav-button:last-child {
	float: right;
	margin: 0;
}

div.nav-horizontal-bar button.nav-button:hover {
	background-color: rgb(7, 7, 7);
}

div.nav-horizontal-bar div.nav-dropdown {
	margin: 0;
	padding: 0;
	display: none;
}

div.nav-horizontal-bar div.nav-dropdown button.menu-button {
	background-color: rgb(67, 67, 67);
	border: none;
	color: white;
	margin: 0;
	padding: 13px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	text-shadow: 3px 0 white, -3px 0 white;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
}

div.nav-horizontal-bar div.nav-dropdown button.menu-button:hover {
	background-color: rgb(7, 7, 7);
}

div.nav-horizontal-bar div.nav-dropdown div.nav-dropdown-content {
	margin: 0;
	padding: 0;
	border-top: 1px solid rgb(87, 87, 87);
	position: absolute;
	min-width: 215px;
	box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.3);
	z-index: 1;
	display: none;
}

div.nav-horizontal-bar div.nav-dropdown div.nav-dropdown-content button.dropdown-button {
	background-color: rgb(67, 67, 67);
	border: none;
	color: white;
	margin: 0;
	padding: 12px 20px;
	text-align: left;
	text-decoration: none;
	display: block;
	font-size: 0.95em;
	font-weight: bold;
	font-family: 'Open Sans', Calibri, sans-serif;
	cursor: pointer;
	overflow: hidden;
	width: 215px;
}

div.nav-horizontal-bar div.nav-dropdown div.nav-dropdown-content button.dropdown-button:hover {
	background-color: rgb(7, 7, 7);
}

div.nav-horizontal-bar div.nav-dropdown:hover div.nav-dropdown-content {
	display: block;
}

div.resume-content {
	margin: 0;
	padding: 0;
	background-color: rgb(220, 220, 220);
	position: relative;
	clear: both;
}

div.styles {
	margin: 0;
	padding: 1px 10px 10px 0;
	width: 258px;
	float: left;
}

h2 {
	border-bottom: 1px solid rgb(221, 221, 221);
	padding-bottom: 6px;
	font-size: 1.35em;
	/*font-weight: bold;*/
}

h2.styles-header {
	margin-left: 16px;
	border-bottom: 1px solid rgb(198, 198, 198);
}

button.styles-button {
	background-color: rgb(147, 147, 121);
	border: none;
	color: white;
	margin: 0 0 16px 16px;
	padding: 12px 20px 12px 35px;
	text-align: left;
	text-decoration: none;
	font-family: 'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 0.88em;
	cursor: pointer;
	width: 226px;
}

button.styles-button:hover {
	background-color: rgb(107, 107, 81);
}

div.skl-expr-edu-cert {
	margin: 0 0 0 258px;
	padding-left: 16px;
	padding-right: 8px;
	background-color: white;
	border: 1px solid white;
}

div.skills {
	margin: 0;
	padding: 0;
}

h2.skills-header {
	margin-bottom: 10px;
}

ul.skills-detail {
	margin-left: 24px;
	margin-top: 4px;
}

img.html5-icon, img.css3-icon, img.js-icon, img.php-icon, img.mysql-icon, img.git-icon, img.rest-icon, img.arduino-icon {
	margin-left: 16px;
	width: auto;
	height: 24px
}

img.html5-icon {
	margin-left: 40px;
}

@media (max-width: 950px) {
	div.styles {
		width: 218px;
	}

	button.styles-button {
		width: 186px;
	}

	div.skl-expr-edu-cert {
		margin: 0px 0px 0px 218px;
	}
}

@media (max-width: 752px) {
	div.nav-horizontal-bar button.lw-button {
		display: none;
	}

	div.nav-horizontal-bar div.nav-dropdown {
		display: inline-block;
	}

	div.styles {
		width: 100%;
		overflow: hidden;
	}

	button.styles-button {
		width: 33.33%;
		margin: 0 0 16px 0px;
		text-align: center;
		padding: 12px 20px;
		float: left;
		border-left: 1px solid rgb(198, 198, 198);
	}

	button.styles-button1 {
		border: none;
	}

	div.skl-expr-edu-cert {
		margin: 0px 0px 0px 0px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: white;
	}
}
